<div class="post-container">
    <h3 class="post-title"><a href="#1" class="post-link">Post Title</a></h4>
    <ul class="post-tags">
        <li class="single-tag">Python</li>
        <li class="single-tag">Pet Project</li>
        <li class="single-tag">Tech</li>
    </ul>
    <p class="post-outline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aut iusto nisi eveniet dolor, fugit culpa tempore, possimus facilis expedita dicta, quae voluptas? Magnam quis veritatis dolores repellendus laboriosam perferendis!</p>
    <p class="post-date">2001-11-16</p>
</div>
