.post-container {
    padding: 0 15px 15px 0;
    width: 80%;
    margin: auto;
}

.post-title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.post-link {
    text-decoration: none;
    color: #4d0c22;
}

.post-link:hover {
    color: #97274a;
    text-decoration: underline;
}

.post-tags {
    display: flex;
    gap: 5px;
    list-style: none;
    text-align: center;
    margin: 10px 0;
}

.single-tag {
    color: #F5ECD5;
    background-color: #941a43;
    border-radius: 4px;
    padding: 3px;
}

.post-outline {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

.post-date {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
    margin: auto;
}

.post-sep {
    margin: 10px auto;
    width: 70%;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .post-title {
        font-size: 16px;
    }

    .post-date {
        display: block;
    }

    .post-tags {
        gap: 4px;
        margin: 8px 0;
    }
    
    .single-tag {
        font-size: 14px;
    }

    .post-outline {
        font-size: 16px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .post-date {
        display: block;
    }

    .single-tag {
        font-size: 10px;
    }

    .post-outline {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .post-container {
        width: 90%;
    }
    
    .post-title {
        text-align: left;
        margin-top: 15px;
    }
    
    .post-date {
        display: block;
        margin-top: 2px;
    }
    
    .post-tags {
        visibility: hidden;
        max-height: 0;
    }
    
    .post-outline {
        font-size: 14px;
        margin: auto 0;
    }
}
