#container {
    min-height: 80vh;
    width: 45%;
    padding: 40px;
    margin: 40px auto 0 auto;
}

#contacts-head {
    font-weight: 500;
}

#contact-me-text {
    margin: 20px 0;
    font-size: 18px;
}

.social-label {
    font-weight: 600;
    font-size: 18px;
}

.link-container {
    margin-bottom: 10px;
}

.social-link {
    margin-top: 3px;
    font-size: 16px;
    text-decoration-color: #97274a;
    color: #4d0c22;
}

.social-link:hover {
    color: rgb(240, 226, 222);
    background-color: #97274a;
    text-decoration: underline;
}

.social-icon {
    height: 16px;
}