#main-container {
    width: 60%;
    min-height: 80vh;
    padding: 30px 0;
    margin: auto;
}

.subhead {
    font-weight: 500;
    margin: 20px 0 20px 0;
    text-align: center;
}

.about-me-text {
    text-align: justify;
    font-size: 18px;
    width: 90%;
    margin: 1vh auto;
}

#repo-link:hover {
    color: #3f3e3b;
    background-color: #dbd6d8;
}

@media (max-width: 480px) {
    #main-container {
        padding-top: 0;
        width: 90%;
    }

    .about-me-text {
        font-size: 16px;
    }
}
