{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static "contacts.css" %}">
{% endblock %}

{% block title %}Contacts{% endblock %}

{% block content %}
    <div id="container">
        <h2 id="contacts-head">Contact Me</h2>
        <p id="contact-me-text">
            Thank you for visiting my website! If you have any questions or propositions or would like to share your thoughts, feel free to contact me. I can't promise a response, but I'm trying to get it back to everyone who writes to me.
        </p>
        <dl id="social-net">
            <dt class="social-label"><img src="{% static "images/e-mail.png" %}" alt="email"  class="social-icon"> Email</dt>
            <dd class="link-container"><a href="mailto:oleksandrmerkuloff@gmail.com" class="social-link" target="_blank">oleksandrmerkuloff@gmail.com</a></dd>

            <dt class="social-label"><img src="{% static "images/instagram.png" %}" alt="instagram" class="social-icon"> Instagram</dt>
            <dd class="link-container"><a href="https://www.instagram.com/oleksandrmerkulov_crystal1s" class="social-link" target="_blank">Oleksandr Merkulov</a></dd>

            <dt class="social-label"><img src="{% static "images/telegram.png" %}" alt="telegram" class="social-icon"> Telegram</dt>
            <dd class="link-container"><a href="https://t.me/oleksandr_merk" class="social-link" target="_blank">@oleksandr_merk</a></dd>

            <dt class="social-label"><img src="{% static "images/threads.png" %}" alt="threads" class="social-icon"> Threads</dt>
            <dd class="link-container"><a href="https://www.threads.net/@oleksandrmerkulov_crystal1s" class="social-link" target="_blank">@merkulov</a></dd>
            
            <dt class="social-label"><img src="{% static "images/linkedin.png" %}" alt="linkedin" class="social-icon"> LinkedIn</dt>
            <dd class="link-container"><a href="https://www.linkedin.com/in/oleksandr-merkulov-65b36b309/" class="social-link" target="_blank">Oleksandr Merkulov</a></dd>
        </dl>
    </div>
{% endblock %}
