{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static "home.css" %}">
<link rel="stylesheet" href="{% static "card.css" %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

<div id="main-container">

    <h2 class="subhead">About Me</h2>

    <p class="about-me-text">Hi, I'm Oleksandr, welcome to my website!<br> Here I'm writing about my way as a developer and other themes like music, life, and of course about pets: especially about 🐶, love these little dudes!</p>
    <p class="about-me-text">If you'd like to know a bit more about me, here’s my short story:<br>I’m from Kyiv, Ukraine. My interest in becoming a developer started back in middle school. At that time, I began learning HTML/CSS and created my first mini-project: a website dedicated to music news. Why music? Well, I’m a classical guitar player, and it’s been my main hobby in the past. The music website lasted until my high school graduation. During that time, I also learned TurboPascal, though I don’t have any particularly interesting stories from that period.</p>
    <p class="about-me-text">While studying cybersecurity at university, I formed a team and worked on several exciting projects. Initially, the team was envisioned as a game development studio, and we operated as ThunarGame Studio for nearly a year. Unfortunately, we had to close it when the coronavirus pandemic started. However, the team didn’t dissolve; we continued as a freelance group, mostly collaborating with other students to create diploma works and solutions for web development, bots, scripts, and cybersecurity projects. Our last major project was <b>Parkan</b>, and you can see the base code <a href="https://github.com/oleksandrmerkuloff/Parkan" target="_blank" id="repo-link">here</a>, though the project has now been discontinued.</p>
    <p class="about-me-text">Now, I’m dissolving my team and creating this website because I want to start fresh and share my journey with you. I don’t know if I’ll be successful, but I’m certain it will be interesting. I’d be pleased if my story can help someone on their own path and show that nothing is impossible!</p>

    <h2 class="subhead">Recent posts</h2>

    {% for post in posts %}
        {% include 'includes/post-card.html' %}
        <hr class="post-sep">
    {% endfor %}

</div>

{% endblock %}