* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    background-color: #f1f0eb;
    color: #6D2323;
}

#web-head {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 20%;
    margin: auto;
    padding: 30px;
}

#hname {
    width: max-content;
    font-weight: 500;
}

#menu-list {
    display: flex;
    justify-self: flex-end;
    list-style: none;
    margin-right: 2vw;
}

.menu-item {
    margin: auto 1vh;
}

.menu-link {
    text-decoration: none;
    color: #6D2323;
    font-size: 2.8vh;
    font-weight: 600;
}

.menu-link:hover {
    color: #A31D1D;
    text-decoration: underline;
}

#web-foot {
    margin-top: 40px;
    margin-bottom: 16px;
    width: 100%;
    text-align: center;
}

#copyright {
    color: rgb(31 41 55);
    opacity: 0.7;
}

@media (max-width: 480px) {
    #web-head {
        flex-direction: column;
    }

    #hname {
        margin: auto;
    }
    
    #menu-list {
        margin: 2vh auto 0 auto;
    }

    .menu-link {
        font-size: 1.5em;
    }
}
